#treemenu li, section > img
{
	cursor: pointer;
	cursor: hand;
}

/* documentation */

article, section
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

article > p, section > p, article * li, section * li
{
	font-size:14px;
	text-align:justify;
}

article * img, section * img
{
	display: block;
    margin: auto;
}

video
{
	border: 2px solid black;
	margin: 0 auto;
}

article > pre, section > pre
{
	background-color:#B5D692;
}

article * td, section * td
{
	font-size:12px;
	text-align:center;
	background-color:#EBEBEB;
}

article * span, section * span
{
	font-size:24px;
}

article * div, section * div
{
	width: 100%;
}

header
{
	width: 100%;
	text-align:center; 
}

section > header
{
	font-size:24px;
	background-color:#448DAE;
	color:#FFFFFF;	
}

article > header
{

	font-size:18px;
	background-color:#7FB644;
	color:#FFFFFF;	
}
